{% extends 'base.html.twig' %}

{% block title %}
      Blog | Création d'un Article
{% endblock %}

{% block body %}
      <h1 class="fst-italic text-center my-4">Création d'un Article</h1>
{% endblock %}